* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
    /* min-width: 1000px; */
    overflow: hidden;
}

.toast-top-center {
    top: 35% !important;
    right: 32% !important;
}

.wrap {
    height: 100%;
    background: url("../img/login/login_bg1.jpg") no-repeat center;
    background-size: contain;
}

.bogin_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: url("../img/login/login_bg1.jpg"); */
    background-size: 120% 120%;
    background-position-x: -100px;
}

.logininfo_group {
    width: 77%;
    text-align: center;
    font-size: 12px;
    color: #D80000;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 60px;
    color: #041473;
    padding-left: 150px;
    font-size: 28px;
    font-weight: bolder;
    line-height: 60px;
    background: white;
}

.header img {
    width: 165px;
    height: 50px;
    padding-right: 10px;
}

.header span {
    padding-left: 17px;
    border-left: 1px solid grey;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
}

.footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 111;
    font-size: 12px;
    padding: 30px 0;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}

.footer p {
    margin-bottom: 1px;
    color: #666;
}

.footer_link span {
    border-right: 1px solid grey;
    padding: 0px 10px 0px;
}

.footer_link span:last-child {
    border: none;
}

.change_logintype {
    text-decoration: underline;
}

.login_box {
    z-index: 10;
    width: 300px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    right: 20%;
    background: #EFF0F4;
    background-size: 100% 100%;
    padding-bottom: 30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.box_title {
    width: 80%;
    font-size: 20px;
    color: #041473;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.search-menu {
    background: transparent;
    color: white;
    border: none;
    width: 4%;
}

.user_group,
.pass_group {
    width: 210px;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 20px;
    background: white;
}

.vercode_group {
    margin-left: 42px;
    margin-top: 20px;
}

.user_input,
.pass_input {
    /*border: 1px solid red;*/
    background: transparent;
    /*background: white;*/
    font-size: 13px;
    margin-top: 4px;
    width: 95%;
    outline: none;
    border: none;
}

.vercode_input {
    width: 70px;
    height: 29px;
    outline: none;
    border: 1px solid white;
    margin-right: 10px;
}

.vercode {
    height: 27px;
}

.language_group {
    width: 70%;
    height: 20px;
    margin-left: 42px;
    padding-top: 15px;
    vertical-align: middle;
    position: relative;
    font-size: 12px;
    color: #041473;
}

.language_group input {
    /*height: 20px;*/
    vertical-align: middle;
    position: absolute;
    top: 14px;
    left: 4px;
}

.china_radio {
    margin-left: 20px !important;
    display: inline-block;
}

.login_btn {
    width: 210px;
    margin-left: 43px;
    height: 32px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    background: #041473;
    border: none;
    color: #EAF4F4;
}

.glyphicon.glyphicon-user,
.glyphicon.glyphicon-lock {
    color: black;
    padding-right: 8px;
    border-right: 1px solid grey;
}

/*设置placeholder的颜色*/

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #666;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #666;
}

/*input框自动填充为黄色的解决方法*/

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset;
}