* {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

html {
    height: 100%;
    font-family: 'simhei';
}

.shopbody {
    width: 100%;
    min-width: 1800px;
    height: 100%;
    font-family: "微软雅黑";
}

.item {
    width: 100%;
    min-height: 500px;
}

.weather_group i.iconfont {
    font-size: 58px;
}

.workshopList {
    width: 96%;
    height: 714px;
    margin: 0 auto;
}

#btn {
    padding: 4px 20px;
    background: #eace50;
    color: #505f76;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    outline: none;
    position: absolute;
    right: 237px;
    top: 65px;
    cursor: pointer;
}

ul.title {
    width: 100%;
    height: 55px;
    line-height: 55px;
    text-align: center;
}

ul.title li {
    width: 100%;
    display: inline-block;
    background: #0000ff;
    color: #fff;
}

h3 img {
    width: 180px;
    vertical-align: middle;
}

ul.title li span {
    width: 9%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    box-sizing: border-box;
    /*字体垂直居中*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#scrollDiv li {
    width: 100%;
    height: 65px;
    /*border: 1px solid green;*/
    list-style: none;
    background: transparent;
}

#scrollDiv li span {
    width: 9%;
    float: left;
    color: #0000ff;
    font-size: 3.5rem;
    font-weight: bolder;
    text-align: center;
    line-height: 65px;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    /*字体垂直居中*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-overflow: ellipsis;*/
    /*禁止换行*/
    white-space: nowrap;
    /*超出的隐藏*/
    /*overflow: hidden;*/
}

.shopwhole {
    position: relative;
}

.shopwhole .logo {
    position: absolute;
    width: 260px;
    height: auto;
    left: 4%;
    top: 30px;
}

.shopwhole h3 {
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 45px;
    padding-top: 45px;
    color: #0000ff;
    text-align: center;
}

#scrollbg {
    position: relative;
}

#scrollbgul {
    position: absolute;
    z-index: 10;
    width: 100%;
}

#scrollbgul li {
    width: 100%;
    min-height: 65px;
    list-style: none;
    background: #ebf5fe;
}

#scrollbgul li:nth-child(odd) {
    min-height: 65px;
    /*background: #FEFEB8;*/
    background: #E1E1E1;
    /*background: #FEFECB;*/
}

#scrollDiv {
    z-index: 10;
    width: 100%;
    height: 645px;
    position: absolute;
    overflow: hidden;
}

#scrollDiv li span:first-child,
ul.title li span:first-child {
    width: 5%;
}

#scrollDiv li span:last-child,
ul.title li span:last-child {
    width: 9%;
    box-sizing: border-box;
}

ul.title li span.list3,
#scrollDiv li span.list3 {
    width: 23%;
    box-sizing: border-box;
    text-overflow: ellipsis;
    /*禁止换行*/
    white-space: nowrap;
    /*超出的隐藏*/
    overflow: hidden;
}

ul.title li span.list4,
#scrollDiv li span.list4 {
    width: 19%;
    box-sizing: border-box;
}

ul.title li span.list1,
#scrollDiv li span.list1 {
    width: 15%;
    box-sizing: border-box;
}

.list6 span,
.list5 span {
    display: inline-block;
    width: 100% !important;
}

.shopfooter {
    width: 80%;
    margin: 0 auto;
    min-width: 1005px;
}

.shopfooter div {
    display: inline-block;
    color: #00007f;
}

.weather_group {
    margin: 0px 27px 0px 50px;
}

.weather_group div {
    display: block !important;
}

.shopfooter .data_group {
    margin-top: 1px;
}

.data {
    margin-right: 21px;
    margin-left: 20px;
}

.datatime {
    min-width: 293px;
    text-align: center;
}

.shopfooter span {
    font-size: 19px;
}

i.iconfont.icon-yu {
    font-size: 56px;
}

.shopfooter p {
    font-size: 19px;
}

.rightBox {
    margin: 0px 10px;
}

p.font-big,
.maintain_countCar {
    font-size: 50px !important;
}

.font_smalll span {
    font-size: 26px;
}

.dayweather {
    margin-right: 10px;
}

.footer_right {
    float: right;
    margin-top: 5px;
}

.circleChart_text {
    /*百分比园内的字体大小*/
    font-size: 17px !important;
    font-weight: bold;
}